/*
Palette di colori
bg-color: rgb(76, 109, 242);
panel-color: rgb(184, 211, 255);
*/

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-boxs;
}

body {
  padding: 16px;
  font-family: "Inter", sans-serif;
  background-color: rgb(76, 109, 242);
  margin: 0 auto;
  max-width: 540px;
}

h1 {
  font-size: 20px;
  color: black;
  text-transform: uppercase;
}

h2 {
  font-size: 26px;
  text-transform: uppercase;
}

h3 {
  font-size: 62px;
  font-weight: 400;
}

p {
  font-weight: bold;
  font-size: 24px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row !important;
  margin-bottom: 16px;
  background-color: rgb(184, 211, 255);
  padding: 16px;
  border-radius: 16px;
}

.panel {
  background-color: rgb(184, 211, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px;
}

input {
  font-family: "Inter", sans-serif;
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.weather-icon {
  max-width: 60vh;
  transition: opacity 1s, translate 1s;
}

.suggestion {
  transition: scale 1s;
}

.js-loading {
  .weather-icon {
    opacity: 0;
    translate: 0 30px;
  }
  .suggestion {
    scale: 0;
  }
}
