/*COLOR PALETTE
lightgreen:rgb(210,239,232);
green:rgb(95,198,173);
yellow:rgb(217,255,102);
blue: rgb(52,75,201);
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(210, 239, 232);
}

.container {
  max-width: 540px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}

h1 {
  color: #fff;
  text-transform: uppercase;
}

.panel {
  padding: 16px;
  border-radius: 16px;
  background-color: rgb(95, 198, 173);
}

.empty-list-message {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.todo-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: 16px 0;
  border-radius: 16px;
}

.todo-text {
  padding: 16px;
}

.todo-check {
  cursor: pointer;
  padding: 16px;
  border-radius: 16px 0 0 16px;
  background-color: rgb(217, 255, 102);
}

.add-todo {
  display: flex;
}

input {
  font-size: 16px;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

button {
  cursor: pointer;
  padding: 16px;
  border-radius: 16px;
  background-color: rgb(217, 255, 102);
  border: none;
}
